[Desktop Entry]
Name=SchafKopf
Exec=schafkopf
Icon=schafkopf
Type=Application
Comment=Schafkopf - A popular Bavarian Cardgame
Comment[de]=Bayerischer Schafkopf (Kartenspiel)
Categories=Qt;KDE;Game;CardGame;
