[Desktop Entry]
Encoding=UTF-8
Name=SchafKopf
Exec=schafkopf
Icon=schafkopf
Type=Application
Comment=Schafkopf - A popular Bavarian Cardgame
Comment[de]=Schafkopfen
Categories=Qt;KDE;Game;CardGame;
